@use "../tools/mixins" as button;
@use "../base/variables" as variable;

.Button {
  font-family: map-get(variable.$fonts, "subtitle");
  font-size: 1.5rem;
  @include button.flex;
  border: 1px solid map-get(variable.$colors, "primary");
  width: 400px;
  padding: 10px;
  position: relative;
  &-svg {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 20px;
  }
}

.Button:hover {
  color: map-get(variable.$colors, "black");
  background-color: map-get(variable.$colors, "light");
  cursor: pointer;
}
